doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Location Viewer
    link(rel='stylesheet', href='/css/app.css')
  body
    div(ng-controller='AppCtrl')
      select(ng-model='type', ng-options='optionType.option for optionType in types')
      .switch(ng-switch='type.option')
        .switch(ng-switch-when='Snowplow & Tree Locations')
          #pickadate
            div(pickadate ng-model='date')
            form(name='timeInput')
              h4 Start Time:
                input(type='time', name='input', placeholder='HH:mm:ss',
                ng-model='time')
            div(pickadate ng-model='date2')
            form(name='timeInput2')
              h4 End Time:
                input(type='time', name='input2', placeholder='HH:mm:ss',
                ng-model='time2')
            button(ng-click='oldData()') Historical Snowplow Locations
            .switch(ng-switch='error')
              .switch(ng-switch-when='toofew')
                h5 No results found. Try a larger interval or different season.
              .switch(ng-switch-when='toomany')
                h5 There were a lot of results. The first few have been shown. 
              .switch(ng-switch-when='incomplete')
                h5 Please fill in both times and dates
            button(ng-click='realtime()') Current Emergency Locations
          .switch(ng-switch='displayType')
            .switch(ng-switch-when='map')
              map(zoom="9", center='[39.7,-104.9]')
                span(ng-repeat='address in addresses')
                  // A different icon is shown for the middle marker during historical queries
                  marker(position='{{address}}', icon='{{ (isUpdating || address == start || address == end) && "http://goo.gl/igGrA" || "http://goo.gl/AOuUKq" }}', on-click='markerClicked()', title='Snow Plow')
                span(ng-repeat='address in addresses2')
                  marker(position='{{address}}', icon='http://goo.gl/712jzT', title='Fallen Tree', on-click='markerClicked()')
            .switch(ng-switch-when='hidemap')
              img(src='img/loading.gif')
          .switch(ng-switch='showEmails')
              .switch(ng-switch-when='show')
                  #emailInfo
                    h4 Affected Users
                      span(ng-repeat='email in emails')
                        p
                          a(href='mailto:{{email}}?Subject=Snowplow%20Alert', target='_blank') {{email}}
                    button(ng-click='inform()') Notify affected users
        .switch(ng-switch-when='Add Affected User')
          form(name='newUser')
            h4 Email:   
              input(type='email', class='show', ng-model='email', required)
            h4 Street Address:   
              input(type='text', class='show', ng-model='address', pattern='.{5,}', required)
            h4 City:   
              input(type='text', class='show', ng-model='city', pattern='.{2,}', required)
            h4 Zip Code:    
              input(type='text', class='show', ng-model='zip', pattern='[0-9]{5,5}', required)
          button(ng-click='addUser()', ng-disabled='newUser.$invalid') Add New User
          .switch(ng-switch='error')
           .switch(ng-switch-when='toofew')
             h5 User couldn't be saved. Try again. 
        .switch(ng-switch-when='Add Fallen Tree')
          form(name='newTree')
            h4 Street Address:   
              input(type='text', class='show', ng-model='address2', pattern='.{5,}', required)
            h4 City:   
              input(type='text', class='show', ng-model='city2', pattern='.{2,}', required)
            h4 Zip Code:    
              input(type='text', class='show', ng-model='zip2', pattern='[0-9]{5,5}', required)
          button(ng-click='addTree()', ng-disabled='newTree.$invalid') Add New Fallen Tree Location
          .switch(ng-switch='error')
           .switch(ng-switch-when='toofew')
             h5 Tree couldn't be saved. Try again. 
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js')
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script(src='http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js')
    script(src='js/datepickermin.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')